Options -MultiViews
RewriteEngine On

# Handle Angular and AngularJS HTML5 pushstate (fallback to index.html)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]